
.footer {
    display: grid;
    grid-template-areas: "indice none redes"
                        "indice none derechos";
    background-color:$color-topbot;
    &__indice {
        grid-area: indice;
        & ul li {
            font-size: 16px;
            padding-bottom: 12px;
            font-family: $letra-contenido;
        }
    }

    &__title{
        font-family: $letra-titulos;
        font-size: 36px;
        margin-left: 16px;
    }
    
    &__social {
        grid-area: redes;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 10px;
    }
    
    &__derechos {
        display: flex;
        justify-content: center;
        grid-area: derechos;
        font-family: $letra-contenido;
    }
    
    &__img {
        width: 70px;
        height: 70px;
        margin-left: 25px;
    }
}