
.footer {
    display: grid;
    grid-template-areas: "indice none redes"
                        "indice none derechos";
    background-color:#80989b ;
    &__indice {
        grid-area: indice;
        & ul li {
            font-size: 16px;
            padding-bottom: 12px;
        }
    }
    
    &__social {
        grid-area: redes;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 10px;
    }
    
    &__derechos {
        display: flex;
        justify-content: center;
        grid-area: derechos;
    }
    
    &__img {
        width: 70px;
        height: 70px;
        margin-left: 25px;
    }
}