
/* EXTENDS - GRID BACKGROUN-IMAGES */

.background-centrado {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.letras-colorespatreondif {
    font-family: $letra-titulos;
    color: $color-grids;
    font-size: 55px;
    font-weight: bold;
}

/* MIXIN - FLEX */

@mixin flexing ($flex-direction, $wrap, $justify, $align){
    flex-direction: $flex-direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}
