/* COLORES PRINCIPALES */
$color-body: #d2dae2;
$color-letras: #00383f;
$color-topbot:  #597b80;
$color-grids: #e6f8f2;



/* FUENTE DE LETRAS */
$letra-titulos: 'Francois One', sans-serif;
$letra-contenido: 'Roboto', sans-serif;