@import "variables";
@import "footer";

* {
    margin: 0px; /* Margen externo */
    padding: 0px; /* Margen interno */
    box-sizing: border-box;
}
/* ESTILOS DE MIS SECCIONES PRINCIPALES */
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $color-body;
    color: $color-topbot;
}


p {
    padding: 0 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    &:visited {
        color: rgb(119, 0, 255);
    }
}

button {
    background-color: $color-topbot;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    &:hover {
        background-image: linear-gradient($color-topbot, $color-body);
    }
}


/* NAVEGACION  */

.navegacion {
    background-color: $color-body;
    position: sticky;
    top: 0;
    &__logo {
        width: 48px;
    }
    
    &__lista {
        display: flex;
        flex-grow: 3;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        flex-wrap: wrap;
    }
    
    &__item {
        padding: 20px;
        &:hover {
            background-image: linear-gradient($color-topbot, $color-body);
        }
    }
    

}


/* CARRUSEL DEL INDEX */
.carrusel {
    margin: 16px;
}

.titulo__pagina {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 16px;
}

/* GALERIA DEL INDEX */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__imagenes {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    }
    
    &__title {
        font-family: 'Lato', sans-serif;
        padding: 15px;
    }
    
    &__img {
        height: auto;
        width: 380px;
        border: 1px dashed $color-topbot;
        padding: 8px;
    }
}



/* TEXTO DEBAJO DE GALERÍA PAGINA INDEX  */
.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
    &__son {
        padding: 15px;
        margin: 30px;
    }
}



/* PAGINA PROYECTOS */


.proyectos{ /* GRID DE PAGINA PROYECTOS */
    display: grid;
    width: 98.5vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:"microfono-fondo-negro escritorio-pro micro-dorado"
                        "microfono-fondo-negro sosteniendo-mic sillas-teatro"
                        "publico-atendiendo sosteniendo-mic clase";
    row-gap: 16px;
    column-gap: 24px;
    background-color: $color-topbot;
    &__texto {
        display: flex;
        font-family: 'Lato', sans-serif;
        color: #0062ff;
        font-size: 40px;
        justify-content: center;
        font-weight: bold;
    }
    &__img{
        width: auto;
    }
    
    .microfono-fondo-negro {
        grid-area: microfono-fondo-negro;
        background-image: url(../resources/microfono-fondo-negro.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .escritorio-pro {
        grid-area: escritorio-pro;
        background-image: url(../resources/escritorio-pro.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .micro-dorado {
        grid-area: micro-dorado;
        background-image: url(../resources/micro-dorado.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .sosteniendo-mic {
        grid-area: sosteniendo-mic;
        background-image: url(../resources/sosteniendo-mic.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .sillas-teatro {
        grid-area: sillas-teatro;
        background-image: url(../resources/sillas-teatro.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .publico-atendiendo {
        grid-area: publico-atendiendo;
        background-image: url(../resources/publico-atendiendo.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .clase {
        grid-area: clase;
        background-image: url(../resources/clase.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}




/* PAGINA SOBRE NOSOTROS */

.sobre-nosotros__grid{ /* GRID DE PAGINA SOBRE NOSOTROS */
    display: grid;
    width: 90vw;
    height: 180vh;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas:"img-principal tarjeta__uno tarjeta__uno tarjeta__dos tarjeta__dos tarjeta__tres tarjeta__tres"
                        "img-principal none tarjeta__cuatro tarjeta__cuatro tarjeta__cinco tarjeta__cinco none"
                        "img-principal tarjeta__seis tarjeta__seis tarjeta__seis tarjeta__seis tarjeta__seis tarjeta__seis";
    row-gap: 20px;
    column-gap:30px;
    margin: 16px;
    margin-bottom: 36px;
    .img-principal {
        grid-column: 1/2;
        grid-row: 1/4;
        background-image: url(../resources/victor-costanera.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    

    
    .tarjeta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #0062ff;
        border: 2px solid rgb(5, 39, 48) ;
        padding: 30px;    
        &__uno {
            grid-column: 2/4;
            grid-row: 1/2;
        }
        
        &__dos {
            grid-column: 4/6;
            grid-row: 1/2;
        }
        
        &__tres {
            grid-column: 6/8;
            grid-row: 1/2;
        }
        
        &__cuatro {
            grid-column: 3/5;
            grid-row: 2/3;
        }
        
        &__cinco {
            grid-column: 5/7;
            grid-row: 2/3;
        }
        
        &__seis {
            grid-column: 2/8;
            grid-row: 3/4;
        }
    
    }
                    }



/* PAGINA PATREON */

.patreon__grid { /* GRID DE PAGINA PATREON */
    display: grid;
    width: 98.5vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:"plan-amigos plan-economico plan-pro"
                        "plan-amigos plan-rich plan-pro"
                        "plan-amigos plan-empresarial plan-pro";
    row-gap: 15px;
    column-gap: 15px;
    background-color: #80989b;
    .plan-amigos {
        grid-area: plan-amigos;
        background-image: url(../resources/plan-amigos.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .plan-economico {
        grid-area: plan-economico;
        background-image: url(../resources/plan-economico.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .plan-pro {
        grid-area: plan-pro;
        background-image: url(../resources/plan-pro.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .plan-empresarial {
        grid-area: plan-empresarial;
        background-image: url(../resources/plan-empresarial.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .plan-rich {
        grid-area: plan-rich;
        background-image: url(../resources/plan-rich.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .patreon__card {
        display: flex;
        flex-direction: column;
        font-family: 'Lato', sans-serif;
        color: #0062ff;
        font-size: 40px;
        justify-content: center;
        font-weight: bolder;
        text-decoration: solid;
    } 
}

/* PAGINA CONTACTOS */
.container__margin {
    margin-bottom: 68px;
} 

@import "mediaqueries";