@import "variables";
@import "operators";
@import "nav";
@import "footer";


* {
    margin: 0px; /* Margen externo */
    padding: 0px; /* Margen interno */
    box-sizing: border-box;
}
/* ESTILOS DE MIS SECCIONES PRINCIPALES */
main {
    display: flex;
    @include flexing (column, wrap, none, none);
}

body {
    font-family: $letra-contenido;
    background-color: $color-body;
    color: $color-letras;
}


p {
    padding: 0 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    &:visited {
        color: rgb(119, 0, 255);
    }
}

button {
    background-color: $color-topbot;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    &:hover {
        background-image: linear-gradient($color-topbot, $color-body);
    }
}



/* CARRUSEL DEL INDEX */
.carrusel {
    margin: 16px;
}

.titulo__pagina {
    font-family: $letra-titulos;
    font-size: 50px;
    text-align: center;
    margin: 16px;
}

/* GALERIA DEL INDEX */
.gallery {
    display: flex;
    @include flexing (none, wrap, center, none);
    &__imagenes {
    display: flex;
    @include flexing (row-reverse, wrap, space-between, none);
    }
    
    &__title {
        font-family: $letra-titulos;
        font-size: 36px;
        padding: 15px;
        color: $color-letras;
    }
    
    &__img {
        height: auto;
        width: 380px;
        border: 1px dashed $color-topbot;
        padding: 8px;
    }
}



/* TEXTO DEBAJO DE GALERÍA PAGINA INDEX  */
.bottom {
    display: flex;
    @include flexing (column, wrap, center, center);
    margin-bottom: 68px;
    &__son {
        padding: 15px;
        margin: 30px;
    }
}



/* PAGINA PROYECTOS */


.proyectos{ /* GRID DE PAGINA PROYECTOS */
    display: grid;
    width: 98.5vw;
    height: 100vh;
    margin-bottom: 68px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:"microfono-fondo-negro escritorio-pro micro-dorado"
                        "microfono-fondo-negro sosteniendo-mic sillas-teatro"
                        "publico-atendiendo sosteniendo-mic clase";
    row-gap: 16px;
    column-gap: 24px;
    background-color: $color-topbot;
    &__texto {
        display: flex;
        font-family: $letra-titulos;
        color: $color-grids;
        font-size: 40px;
        justify-content: center;
        font-weight: bold;
        text-align: center;
    }
    &__img{
        width: auto;
    }
    
    .microfono-fondo-negro {
        grid-area: microfono-fondo-negro;
        background-image: url(../resources/microfono-fondo-negro.jpg);
        @extend .background-centrado;
    }
    
    .escritorio-pro {
        grid-area: escritorio-pro;
        background-image: url(../resources/escritorio-pro.jpg);
        @extend .background-centrado;
    }
    
    .micro-dorado {
        grid-area: micro-dorado;
        background-image: url(../resources/micro-dorado.jpg);
        @extend .background-centrado;
    }
    
    .sosteniendo-mic {
        grid-area: sosteniendo-mic;
        background-image: url(../resources/sosteniendo-mic.jpg);
        @extend .background-centrado;
    }
    
    .sillas-teatro {
        grid-area: sillas-teatro;
        background-image: url(../resources/sillas-teatro.jpg);
        @extend .background-centrado;
    }
    
    .publico-atendiendo {
        grid-area: publico-atendiendo;
        background-image: url(../resources/publico-atendiendo.jpg);
        @extend .background-centrado;
    }
    
    .clase {
        grid-area: clase;
        background-image: url(../resources/clase.jpg);
        @extend .background-centrado;
    }
}




/* PAGINA SOBRE NOSOTROS */

.sobre-nosotros__grid{ /* GRID DE PAGINA SOBRE NOSOTROS */
    display: grid;
    width: 90vw;
    height: 180vh;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    row-gap: 20px;
    column-gap:30px;
    margin: 16px;
    margin-bottom: 68px;
    .img-principal {
        grid-column: 1/2;
        grid-row: 1/4;
        background-image: url(../resources/victor-costanera.jpeg);
        border: 2px solid black;
        @extend .background-centrado;
    }
    

    
    .tarjeta {
        display: flex;
        @include flexing (column, wrap, center, center);
        font-family: $letra-contenido;
        color: $color-grids;
        background-color: $color-topbot;
        border: 2px solid black;
        padding: 30px;    
    }
    .tarjeta__uno {
        grid-column: 2/4;
        grid-row: 1/2;
    }
    
    .tarjeta__dos {
        grid-column: 4/6;
        grid-row: 1/2;
    }
    
    .tarjeta__tres {
        grid-column: 6/8;
        grid-row: 1/2;
    }
    
    .tarjeta__cuatro {
        grid-column: 3/5;
        grid-row: 2/3;
    }
    
    .tarjeta__cinco {
        grid-column: 5/7;
        grid-row: 2/3;
    }
    
    .tarjeta__seis {
        grid-column: 2/8;
        grid-row: 3/4;
    }
    
    .tarjeta__titulo{
        font-family: $letra-titulos;
        text-align: center;
    }
                    }



/* PAGINA PATREON */

.patreon__grid { /* GRID DE PAGINA PATREON */
    display: grid;
    width: 98.5vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:"plan-amigos plan-economico plan-pro"
                        "plan-amigos plan-rich plan-pro"
                        "plan-amigos plan-empresarial plan-pro";
    row-gap: 15px;
    column-gap: 15px;
    background-color: #80989b;
    margin-bottom: 68px;
    .plan-amigos {
        grid-area: plan-amigos;
        background-image: url(../resources/plan-amigos.jpg);
        @extend .background-centrado;
    }
    
    .plan-economico {
        grid-area: plan-economico;
        background-image: url(../resources/plan-economico.jpg);
        @extend .background-centrado;
    }
    
    .plan-pro {
        grid-area: plan-pro;
        background-image: url(../resources/plan-pro.jpg);
        @extend .background-centrado;
    }
    
    .plan-empresarial {
        grid-area: plan-empresarial;
        background-image: url(../resources/plan-empresarial.jpg);
        @extend .background-centrado;
    }
    
    .plan-rich {
        grid-area: plan-rich;
        background-image: url(../resources/plan-rich.jpg);
        @extend .background-centrado;
    }
    
    .patreon__card {
        display: flex;
        @include flexing (column, none, flex-end, center);
        font-weight: bold;
        text-decoration: solid;
        text-align: center;
    } 

    .patreon__button {
        width: 50%;
        font-family: $letra-titulos;
        color: $color-grids;
        font-weight: bold;
    }

    .patreon__button--amigos {
        width: 50%;
        font-family: $letra-titulos;
        color: $color-letras;
        font-weight: bold;
    }

    .patreon__button--pro {
        width: 50%;
        font-family: $letra-titulos;
        color: $color-letras;
        font-weight: bold;
    }

    .patreon__titulo {
        font-family: $letra-titulos;
        color: $color-letras;
        font-size: 55px;
        font-weight: bold;
    }
    .patreon__titulo--amigos{
        @extend .letras-colorespatreondif;
    }
    .patreon__titulo--pro{
        @extend .letras-colorespatreondif;
    }
}

/* PAGINA CONTACTOS */
.container__margin {
    margin-bottom: 68px;
} 

@import "mediaqueries";